/* Change url(../activity/activity-helloworld.svg); for set your custom activity icon */
#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

.element{
    position: absolute;
}

.hidden{
  display: none;
}

.btn{
  height: 80px;
  width: 200px;
}

/* Menu **/
#menu {
    width: 1200px;
    height: 845px;
    background-image: url('../img/bg-menu.png');
}

/* Deduccion **/
#deduccion{
    width: 1200px;
    height: 845px;
    background-image: url('../img/bg-deduccion.png');
}

/* Quien soy? **/
#quiensoy{
    width: 1200px;
    height: 845px;
    background-image: url('../img/bg-quiensoy.png');
}



/* indefinido 
#personajes{
    width: 50px;
    height: 50px;
}

.btnpista{
  	width: 80px; 
  	height: 80px;
}
**/




